@charset "UTF-8";

/****************
*               *
* INICIO - BODY *
*               *
****************/

* { margin:0; padding:0; }

html {    
	width: 100%;
	height: 100%;
}

body {
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

img {
	border: none;
	outline: none;
	border-style: none;
}

a:focus, a:active { outline:none; }
::-moz-selection { background:#D55B25; color:#FFFFFF; text-shadow:none; }
::selection { background:#D55B25; color:#FFFFFF; text-shadow:none; }
a:link { -webkit-tap-highlight-color:#D55B25; }

/* ESTILOS GENERALES */

h1,
h2,
h3,
h4,
p,
span,
li {
	color: #002E59;
}
#superior.noche h1,
#superior.noche h2,
#superior.noche h3,
#superior.noche h4,
#superior.noche p,
#superior.noche span,
#superior.noche li {
	color: #63b1e4;
}

/*************
* FIN - BODY *
*************/

/**********************
*                     *
* INICIO - ENVOLTORIO *
*                     *
**********************/

#envoltorio {
	height: 100%;
	max-height: 100%;
	width: 14131px;
}

/*******************
* FIN - ENVOLTORIO *
*******************/

/********************
*                   *
* INICIO - SUPERIOR *
*                   *
********************/

#superior {
	position: relative;
	overflow: hidden;
	height: 97%;
	width: 100%;
		background: #7cc3e8; /* Navegadores antiguos */
		background: -moz-linear-gradient(top,  #7cc3e8 0%, #dbeaf1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cc3e8), color-stop(100%,#dbeaf1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #7cc3e8 0%,#dbeaf1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #7cc3e8 0%,#dbeaf1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #7cc3e8 0%,#dbeaf1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #7cc3e8 0%,#dbeaf1 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc3e8', endColorstr='#dbeaf1',GradientType=0 ); /* IE6-9 */
}
#superior.noche {
		background: #020017; /* Navegadores antiguos */
		background: -moz-linear-gradient(top,  #020017 0%, #6491ad 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#020017), color-stop(100%,#6491ad)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #020017 0%,#6491ad 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #020017 0%,#6491ad 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #020017 0%,#6491ad 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #020017 0%,#6491ad 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020017', endColorstr='#6491ad',GradientType=0 ); /* IE6-9 */
}

/* PAISAJE */

.estrellas {
	width: 14132px;
	height: 1500px;
	position: absolute;
	top: 0;
	left: 0;
}
.estrellas.noche { background: transparent no-repeat url(../img/noche/estrellas.png); }

.montes {
	background: transparent no-repeat url(../img/dia/montes.png);
	width: 14131px;
	height: 762px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bandera {
	background: transparent no-repeat url(../img/dia/bandera.png);
	width: 37px;
	height: 42px;
	position: absolute;
	bottom: 541px;
	left: 2998px;
}

.nubes {
	background: transparent no-repeat url(../img/dia/nubes.png);
	width: 14132px;
	height: 762px;
	position: absolute;
	top: 0;
	left: 0;
}
.nubes.noche { background: transparent; }

.sombras-edificios {
	background: transparent no-repeat url(../img/dia/sombras-edificios.png);
	width: 14122px;
	height: 762px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.teleferico {
	background: transparent no-repeat url(../img/dia/teleferico.png);
	width: 984px;
	height: 357px;
	position: absolute;
	bottom: 240px;
	left: 9985px;
}

/* EDIFICIOS */

.fabricas {
	background: transparent no-repeat url(../img/dia/fabricas.png);
	width: 1675px;
	height: 335px;
	position: absolute;
	bottom: 0;
	left: 5700px;
}

.edificios-1 {
	background: transparent no-repeat url(../img/dia/edificios-1.png);
	width: 547px;
	height: 637px;
	position: absolute;
	bottom: 0;
	left: 8550px;
}

.rusa {
	background: transparent no-repeat url(../img/dia/rusa.png);
	width: 484px;
	height: 283px;
	position: absolute;
	bottom: 85px;
	left: 9200px;
}

.noria {
	background: transparent no-repeat url(../img/dia/noria.png);
	width: 299px;
	height: 283px;
	position: absolute;
	bottom: 100px;
	left: 9080px;
}

.edificios-2 {
	background: transparent no-repeat url(../img/dia/edificios-2.png);
	width: 392px;
	height: 576px;
	position: absolute;
	bottom: 0;
	left: 9910px;
}

.edificios-3 {
	background: transparent no-repeat url(../img/dia/edificios-3.png);
	width: 758px;
	height: 561px;
	position: absolute;
	bottom: 60px;
	left: 10240px;
}

.edificios-4 {
	background: transparent no-repeat url(../img/dia/edificios-4.png);
	width: 765px;
	height: 258px;
	position: absolute;
	bottom: 0;
	left: 9740px;
}

.edificios-5 {
	background: transparent no-repeat url(../img/dia/edificios-5.png);
	width: 584px;
	height: 235px;
	position: absolute;
	bottom: 0;
	left: 10490px;
}

.circo {
	background: transparent no-repeat url(../img/dia/circo.png);
	width: 268px;
	height: 197px;
	position: absolute;
	bottom: 0;
	left: 11100px;
}

.vallas {
	background: transparent no-repeat url(../img/dia/vallas.png);
	width: 1171px;
	height: 520px;
	position: absolute;
	bottom: 0;
	left: 12660px;
}

.focos-1 {
	width: 351px;
	height: 308px;
	position: absolute;
	bottom: 415px;
	left: 8750px;	
}
.focos-1.noche { background: transparent no-repeat url(../img/noche/focos-1.png); }

.focos-2 {
	width: 469px;
	height: 347px;
	position: absolute;
	bottom: 280px;
	left: 9950px;
}
.focos-2.noche { background: transparent no-repeat url(../img/noche/focos-2.png); }

/* ARBOLES */

.arboles-1 {
	background: transparent no-repeat url(../img/dia/arboles-1.png);
	width: 3194px;
	height: 213px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.arboles-2 {
	background: transparent no-repeat url(../img/dia/arboles-2.png);
	width: 1867px;
	height: 208px;
	position: absolute;
	bottom: 0;
	left: 3920px;
}

.arboles-3 {
	background: transparent no-repeat url(../img/dia/arboles-3.png);
	width: 1241px;
	height: 210px;
	position: absolute;
	bottom: 0;
	left: 7340px;
}

.arboles-4 {
	background: transparent no-repeat url(../img/dia/arboles-4.png);
	width: 681px;
	height: 196px;
	position: absolute;
	bottom: 0;
	left: 9080px;
}

.arboles-5 {
	background: transparent no-repeat url(../img/dia/arboles-5.png);
	width: 3100px;
	height: 191px;
	position: absolute;
	bottom: 0;
	left: 11040px;
}

/* ADORNOS Y DEMÁS */

.cartel-embajada {
	background: transparent no-repeat url(../img/dia/cartel-embajada.png);
	width: 308px;
	height: 100px;
	position: absolute;
	bottom: 243px;
	left: 3632px;
}

.la-embajada {
	background: transparent no-repeat url(../img/dia/la-embajada.png);
	width: 799px;
	height: 268px;
	position: absolute;
	bottom: 0;
	left: 3150px;
}
.la-embajada.noche { background-image: url(../img/noche/la-embajada.png); }

.grua {
	background: transparent no-repeat url(../img/dia/grua.png);
	width: 213px;
	height: 173px;
	position: absolute;
	bottom: 242px;
	left: 6245px;
}

.humo {
	background: transparent no-repeat url(../img/dia/humo.png);
	width: 1597px;
	height: 368px;
	position: absolute;
	bottom: 180px;
	left: 5780px;
}

/* ZEPPELIN */

#zeppelin {
	background: transparent no-repeat url(../img/dia/zeppelin.png);
	width: 322px;
	height: 147px;
	position: fixed;
	top: 30%;
		/* introducción */
		left: -322px;
}

/* PRIMER PLANO */

.cruceta {
	background: transparent no-repeat url(../img/dia/cruceta.png);
	width: 432px;
	height: 597px;
	position: absolute;
	bottom: 0;
	left: 1100px;
}

/* TEXTOS */

.texto-1 {
	width: 700px;
	position: absolute;
	left: 50px;
	text-align: center;
		/* introducción */
		top: -150px;
		opacity: 0;
}

	.texto-1 span {
		font-family: Impact;
		font-size: 60px;
	}

.texto-2 {
	width: 700px;
	position: absolute;
	left: 50px;
	text-align: center;
		/* introducción */
		bottom: -100px;
		opacity: 0;
}

	.texto-2 span {
		font-family: Arial;
		font-size: 30px;
	}

.texto-3 {
	width: 600px;
	position: absolute;
	top: 10%;
	left: 4050px;
}

	.texto-3 h1 {
		position: relative;
		width: 500px;
		left: -520px;
		top: 20px;
		padding: 0 40px 10px 0;
		border-bottom: 4px double #fff;
		text-align: right;
		font-family: Impact;
		font-size: 70px;
	}

	.texto-3 > .parrafo {
		border-left: 1px solid #fff;
		padding: 40px 0 100px 20px;
	}

	.texto-3 p {
		margin: 0 0 15px;
		font-family: Arial;
		font-size: 14px;
		line-height: 18px;
	}

.texto-4 {
	width: 600px;
	position: absolute;
	top: 10%;
	left: 7000px;
}

	.texto-4 h1 {
		position: relative;
		width: 500px;
		left: -520px;
		top: 20px;
		padding: 0 40px 10px 0;
		border-bottom: 4px double #fff;
		text-align: right;
		font-family: Impact;
		font-size: 70px;
	}

	.texto-4 > ul {
		border-left: 1px solid #fff;
		padding: 40px 0 40px 40px;
	}

	.texto-4 > ul > li {
		cursor: pointer;
		padding: 15px 0;
		font-family: Arial;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
	}

	.texto-4 > ul > li:after {
		content: '·';
		position: absolute;
		left: 25px;
		font-size: 40px;
		color: #fff;
	}

	.texto-4 > ul > li:nth-child(even) {
		position: relative;
		left: -200px;
	}

	.texto-4 > ul > li:nth-child(even):after {
		left: auto;
	}

/*****************
* FIN - SUPERIOR *
*****************/

/********************
*                   *
* INICIO - INFERIOR *
*                   *
********************/

#inferior {
	position: relative;
	background: #DDD;
	overflow: hidden;
	height: 3%;
	width: 100%;
}

/*****************
* FIN - INFERIOR *
*****************/

/******************
*                 *
* INICIO - POPUPS *
*                 *
******************/

.popup {
	display: none;
	position: relative;
	overflow: hidden;
	background: #fff;
	height: 500px;
	width: 700px;
	border: 5px solid #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}

.popup .cerrar {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background-color: red;
	cursor: pointer;
}

.popup-servicios .cabecera {
	height: 200px;
	background-color: #75BACA;
	text-align: center;
}

.popup-servicios h2 {
	font-family: Impact;
	color: #fff;
	font-size: 40px;
}

/***************
* FIN - POPUPS *
***************/