@charset "UTF-8";

/****************
*               *
* INICIO - BODY *
*               *
****************/

* { margin:0; padding:0; }

html {    
	width: 100%;
	height: 100%;
}

body {
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

img {
	border: none;
	outline: none;
	border-style: none;
}

a:focus, a:active { outline:none; }
::-moz-selection { background:#D55B25; color:#FFFFFF; text-shadow:none; }
::selection { background:#D55B25; color:#FFFFFF; text-shadow:none; }
a:link { -webkit-tap-highlight-color:#D55B25; }

/* ESTILOS GENERALES */

h1, h2, h3, h4, p, span {
	color: #002E59;
}

/*************
* FIN - BODY *
*************/

/**********************
*                     *
* INICIO - ENVOLTORIO *
*                     *
**********************/

#envoltorio {
	height: 100%;
	max-height: 100%;
	width: 14131px;
}

/*******************
* FIN - ENVOLTORIO *
*******************/

/********************
*                   *
* INICIO - SUPERIOR *
*                   *
********************/

#superior {
	position: relative;
	overflow: hidden;
	height: 97%;
	width: 100%;
		background: #63b1e4; /* Navegadores antiguos */
		background: -moz-linear-gradient(top,  #63b1e4 0%, #bbdaec 50%, #f4f5f6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b1e4), color-stop(50%,#bbdaec), color-stop(100%,#f4f5f6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #63b1e4 0%,#bbdaec 50%,#f4f5f6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #63b1e4 0%,#bbdaec 50%,#f4f5f6 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #63b1e4 0%,#bbdaec 50%,#f4f5f6 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #63b1e4 0%,#bbdaec 50%,#f4f5f6 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b1e4', endColorstr='#f4f5f6',GradientType=0 ); /* IE6-9 */
}
#superior.noche {
		background: #00000d; /* Navegadores antiguos */
		background: -moz-linear-gradient(top,  #00000d 0%, #708a9b 50%, #85a3b9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00000d), color-stop(50%,#708a9b), color-stop(100%,#85a3b9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #00000d 0%,#708a9b 50%,#85a3b9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #00000d 0%,#708a9b 50%,#85a3b9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #00000d 0%,#708a9b 50%,#85a3b9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #00000d 0%,#708a9b 50%,#85a3b9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000d', endColorstr='#85a3b9',GradientType=0 ); /* IE6-9 */
}

/* PAISAJE */

.montes {
	background: transparent no-repeat url(../img/dia/montes.png);
	width: 14131px;
	height: 762px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.montes.noche { background-image: url(../img/noche/montes.png); }

.nubes {
	background: transparent no-repeat url(../img/dia/nubes.png);
	width: 14132px;
	height: 762px;
	position: absolute;
	top: 0;
	left: 0;
}
.nubes.noche { background-image: url(../img/noche/nubes.png); }

.sombras-edificios {
	background: transparent no-repeat url(../img/dia/sombras-edificios.png);
	width: 14122px;
	height: 762px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.sombras-edificios.noche { background-image: url(../img/noche/sombras-edificios.png); }

.teleferico {
	background: transparent no-repeat url(../img/dia/teleferico.png);
	width: 984px;
	height: 357px;
	position: absolute;
	bottom: 240px;
	left: 9985px;
}
.teleferico.noche { background-image: url(../img/noche/teleferico.png); }

/* EDIFICIOS */

.fabricas {
	background: transparent no-repeat url(../img/dia/fabricas.png);
	width: 1675px;
	height: 335px;
	position: absolute;
	bottom: 0;
	left: 5700px;
}
.fabricas.noche { background-image: url(../img/noche/fabricas.png); }

.edificios-1 {
	background: transparent no-repeat url(../img/dia/edificios-1.png);
	width: 547px;
	height: 637px;
	position: absolute;
	bottom: 0;
	left: 8550px;
}
.edificios-1.noche { background-image: url(../img/noche/edificios-1.png); }

.rusa {
	background: transparent no-repeat url(../img/dia/rusa.png);
	width: 484px;
	height: 283px;
	position: absolute;
	bottom: 85px;
	left: 9200px;
}
.rusa.noche { background-image: url(../img/noche/rusa.png); }

.noria {
	background: transparent no-repeat url(../img/dia/noria.png);
	width: 299px;
	height: 283px;
	position: absolute;
	bottom: 100px;
	left: 9080px;
}
.noria.noche { background-image: url(../img/noche/noria.png); }

.edificios-2 {
	background: transparent no-repeat url(../img/dia/edificios-2.png);
	width: 216px;
	height: 316px;
	position: absolute;
	bottom: 0;
	left: 2700px;
}
.edificios-2.noche { background-image: url(../img/noche/edificios-2.png); }

.edificios-3 {
	background: transparent no-repeat url(../img/dia/edificios-3.png);
	width: 765px;
	height: 258px;
	position: absolute;
	bottom: 0;
	left: 9740px;
}
.edificios-3.noche { background-image: url(../img/noche/edificios-3.png); }

.edificios-4 {
	background: transparent no-repeat url(../img/dia/edificios-4.png);
	width: 758px;
	height: 561px;
	position: absolute;
	bottom: 60px;
	left: 10240px;
}
.edificios-4.noche { background-image: url(../img/noche/edificios-4.png); }

.edificios-5 {
	background: transparent no-repeat url(../img/dia/edificios-5.png);
	width: 584px;
	height: 235px;
	position: absolute;
	bottom: 0;
	left: 10490px;
}
.edificios-5.noche { background-image: url(../img/noche/edificios-5.png); }

.circo {
	background: transparent no-repeat url(../img/dia/circo.png);
	width: 268px;
	height: 197px;
	position: absolute;
	bottom: 0;
	left: 11100px;
}
.circo.noche { background-image: url(../img/noche/circo.png); }

.vallas {
	background: transparent no-repeat url(../img/dia/vallas.png);
	width: 1171px;
	height: 520px;
	position: absolute;
	bottom: 0;
	left: 12660px;
}
.vallas.noche { background-image: url(../img/noche/vallas.png); }

/* ARBOLES */

.arboles-1 {
	background: transparent no-repeat url(../img/dia/arboles-1.png);
	width: 3194px;
	height: 213px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.arboles-1.noche { background-image: url(../img/noche/arboles-1.png); }

.arboles-2 {
	background: transparent no-repeat url(../img/dia/arboles-2.png);
	width: 1867px;
	height: 208px;
	position: absolute;
	bottom: 0;
	left: 3920px;
}
.arboles-2.noche { background-image: url(../img/noche/arboles-2.png); }

.arboles-3 {
	background: transparent no-repeat url(../img/dia/arboles-3.png);
	width: 1241px;
	height: 210px;
	position: absolute;
	bottom: 0;
	left: 7340px;
}
.arboles-3.noche { background-image: url(../img/noche/arboles-3.png); }

.arboles-4 {
	background: transparent no-repeat url(../img/dia/arboles-4.png);
	width: 681px;
	height: 196px;
	position: absolute;
	bottom: 0;
	left: 9080px;
}
.arboles-4.noche { background-image: url(../img/noche/arboles-4.png); }

.arboles-5 {
	background: transparent no-repeat url(../img/dia/arboles-5.png);
	width: 3100px;
	height: 191px;
	position: absolute;
	bottom: 0;
	left: 11040px;
}
.arboles-5.noche { background-image: url(../img/noche/arboles-5.png); }

/* ADORNOS Y DEMÁS */

.cruceta {
	background: transparent no-repeat url(../img/dia/cruceta.png);
	width: 432px;
	height: 597px;
	position: absolute;
	bottom: 0;
	left: 1100px;
}
.cruceta.noche { background-image: url(../img/noche/cruceta.png); }

.bandera {
	background: transparent no-repeat url(../img/dia/bandera.png);
	width: 37px;
	height: 42px;
	position: absolute;
	bottom: 541px;
	left: 2998px;
}
.bandera.noche { background-image: url(../img/noche/bandera.png); }

.cartel-embajada {
	background: transparent no-repeat url(../img/dia/cartel-embajada.png);
	width: 308px;
	height: 100px;
	position: absolute;
	bottom: 243px;
	left: 3632px;
}
.cartel-embajada.noche { background-image: url(../img/noche/cartel-embajada.png); }

.la-embajada {
	background: transparent no-repeat url(../img/dia/la-embajada.png);
	width: 799px;
	height: 268px;
	position: absolute;
	bottom: 0;
	left: 3150px;
}
.la-embajada.noche { background-image: url(../img/noche/la-embajada.png); }

.grua {
	background: transparent no-repeat url(../img/dia/grua.png);
	width: 213px;
	height: 173px;
	position: absolute;
	bottom: 242px;
	left: 6245px;
}
.grua.noche { background-image: url(../img/noche/grua.png); }

.humo {
	background: transparent no-repeat url(../img/dia/humo.png);
	width: 1597px;
	height: 368px;
	position: absolute;
	bottom: 180px;
	left: 5780px;
}
.humo.noche { background-image: url(../img/noche/humo.png); }

/* ZEPPELIN */

#zeppelin {
	background: transparent no-repeat url(../img/dia/zeppelin.png);
	width: 322px;
	height: 147px;
	position: fixed;
	top: 30%;
		/* introducción */
		left: -322px;
}

/* PRIMER PLANO */

.cruceta {
	background: transparent no-repeat url(../img/dia/cruceta.png);
	width: 432px;
	height: 597px;
	position: absolute;
	bottom: 0;
	left: 1100px;
}
.cruceta.noche { background-image: url(../img/noche/cruceta.png); }

/* TEXTOS */

.texto-1 {
	width: 700px;
	position: absolute;
	left: 50px;
	text-align: center;
		/* introducción */
		top: -150px;
		opacity: 0;
}

	.texto-1 span {
		font-family: Impact;
		font-size: 60px;
	}

.texto-2 {
	width: 700px;
	position: absolute;
	left: 50px;
	text-align: center;
		/* introducción */
		bottom: -100px;
		opacity: 0;
}

	.texto-2 span {
		font-family: Arial;
		font-size: 30px;
	}

/*****************
* FIN - SUPERIOR *
*****************/

/********************
*                   *
* INICIO - INFERIOR *
*                   *
********************/

#inferior {
	position: relative;
	background: #DDD;
	overflow: hidden;
	height: 3%;
	width: 100%;
}

/*****************
* FIN - INFERIOR *
*****************/