[submodule "js/SmoothScroll"]
	path = js/SmoothScroll
	url = https://gist.github.com/galambalazs/6477177
[submodule "js/bpopup"]
	path = js/bpopup
	url = https://github.com/dinbror/bpopup
[submodule "js/tinycarousel"]
	path = js/tinycarousel
	url = https://github.com/wieringen/tinycarousel
